/* style.css */
body {
    font-family: Open San, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-icon svg {
    width: 24px;
    height: 24px;
    fill: #ffffff; /* Icon color */
    margin-right: 10px;
}

/* Add more styles as needed for the rest of your page */
