*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: Open San, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-size: contain;
    background-position: center;
}

header {
    background-color: #0fbd1e;
    background-position: left;
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
}

.home-icon svg {
    width: 24px;
    height: 24px;
    fill: #ffffff; /* Icon color */
    margin-right: 10px;
}

.form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: auto;
}

.form button[type="submit"] {
        padding: 10px 20px;
        background-color: dodgerblue;
        color: white;
        cursor: pointer;
        flex-direction: column;
        align-items: end;
        margin-block-end: auto;
}

.form button:hover {
    background-color: royalblue;
  }


.topnav {
    background-color: #0fbd1e;
    text-align: center;
}

.topnav ul {
    display: inline-flex;
    list-style: none;
    color: #fff
}

.topnav ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.topnav ul a {
    color: #fff;
    text-decoration: none;
}

.active, .topnav ul li {
    background-color: none;
    border-radius: 3px;
}

.topnav ul:hover a {
    background-color: none;
}

.topnav .fa {
margin-left: 8px;


}