/* style.css */
body {
    font-family: Open San, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-size: contain;
}

header {
    background-color: #0fbd1e;
    background-position: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-icon svg {
    width: 24px;
    height: 24px;
    fill: #ffffff; /* Icon color */
    margin-right: 10px;
}

.form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: center;
}

.form button[type="submit"] {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-inline-end: auto;
}

.topnav {
    background-color: #0fbd1e;
    text-align: center;
}

.topnav ul {
    display: inline-flex;
    list-style: none;
    color: #fff
}

.topnav ul a {
    color: #fff;
    margin-inline: 15px;
    padding: 15px;
    text-decoration: none;
}

.topnav ul.active a {
    background-color: none;
}

.topnav ul:hover a {
    background-color: none;
}

.topnav .fa {
margin-left: 8px;


}